<div class="card">
  <div class="card-header">
    <h3 class="card-title">Urenregistratie : {{project.name}}</h3>
  </div>
  <div class="card-body">
    <p class="text-secondary">
      <span class="gauge">
      <mwl-gauge
        [max]="10"
        [dialStartAngle]="0"
        [dialEndAngle]="10"
        [value]=urenVandaag
      />
        <p class="dag-of-week">Dag {{urenVandaag}}</p>
        </span>
      <span class="gauge">
      <mwl-gauge
        [max]="40"
        [dialStartAngle]="0"
        [dialEndAngle]="40"
        [value]=urenWeek
      />
        <p class="dag-of-week">Week {{urenWeek}}</p>
      </span>
    </p>
    <button class="btn" *ngIf="lopendeRegistratie" (click)="onClickStartOfStopRegistratie()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-stop" width="24" height="24"
           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 5m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
      </svg>
      Stop
    </button>
    <button class="btn" *ngIf="!lopendeRegistratie" (click)="onClickStartOfStopRegistratie()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="24" height="24"
           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M7 4v16l13 -8z"></path>
      </svg>
      Start
    </button>
  </div>
</div>
