<div class="card">
  <div class="card-header">
    <h3 class="card-title">Camera : {{naam}}</h3>
  </div>
  <div class="card-body">
    <img src="{{urlMetUuid}}" style="width: 533px;"/>
  </div>
</div>
