/* You can add global styles to this file, and also import other style files */
.card {
  width: 32%;
  display: inline-block;
  min-height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

mwl-gauge {
  width: 130px;
  height: 130px;
  display: block;
  padding: 10px;
}

mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}

mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}

mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}
